/* Write your styles */

a.t5308-logo-text {
   text-transform: uppercase;
   padding-right: 2em;
}

.t5308-padding {
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 120px;
}

.t5308-art {
    display: block;
    background-color: #eeeeee;
}

.t5308-sidebar {
    padding-top: auto;
    width: 120px ;
    height: 100%;
    float: left;
    margin-right: 2em;
}

li.t5308-nav-header {
    display: block;
    height: 3em;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: transparent;
}

.t5308-nav {
    background-color: #eeeeee;
    height: 100%
}

.t5308-nav > li > a:hover,
.t5308-nav > li > a:focus {
  text-decoration: none;
  background-color: #999999 !important;
}
.t5308-nav > li.am-active > a,
.t5308-nav > li.am-active > a:hover,
.t5308-nav > li.am-active > a:focus {
  color: #fff;
  background-color: #0e90d2;
  cursor: default;
}
.t5308-nav > li.am-disabled > a {
  color: #999999;
}
.t5308-nav > li.am-disabled > a:hover,
.t5308-nav > li.am-disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: #999999;
  cursor: not-allowed;
}

/*Slider protector*/
.t5308-win-protector {
    padding: 1em 1em 1em 1em;
    height: 25em;
    background-color: #cccccc;
}

/*body*/
body.t5308-uni-bgc {
    background-color: #999999 !important;
}

.t5308-block-height {
    height: 25em;
}