/* Write your styles */

a.t5308-logo-text {
   text-transform: uppercase;
}

.t5308-padding {
    padding-top: 100px;
    padding-right: 50px;
}

.t5308-art {
    display: block;
    background-color: aqua;
    margin-bottom: 50px;
}

.t5308-sidebar {
    padding-top: auto;
    width: 120px ;
    min-height: 100%;
    float: left;
}

li.t5308-nav-header {
    display: block;
    height: 3em;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}